$activeBG: rgb(232, 232, 232);
$borderColor: rgb(232, 232, 232);
$highLightColor: #fd4c5d;

body {
  margin: 0;
  background-color: rgb(247, 247, 247);
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.slide-border {
  border: 2px solid transparent;
  transition: background-color .2s, border-color 1s;
  &:active {
    background-color: $activeBG;
    border-color: $borderColor;
  }
}
