@import './variable.scss';
@import './animation.scss';

.slide-border {
  border: 2px solid transparent;
  transition: background-color .2s, border-color 1s;
  &:active {
    background-color: $shadowColor;
    border-color: $shadowColor;
  }
}

.rounded-container {
  position: absolute;
  top: 64px;
  right: 0;
  // transform: translate(-50% , 10px);
  width: fit-content;
  height: 400px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 8px 24px $shadowColor;
}

.base-container {
  border-radius: 8px;
  padding: 20px 32px;
  background-color: white;
  box-shadow: 0 4px 12px rgb(245, 245, 245), 0 1px 4px $shadowColor;
}

.vertical-enter-active { animation: slide-vertical .2s; }
.vertical-leave-active { animation: slide-vertical .2s reverse; }

// button
.btn-base {
  padding: 4px 16px;
  border-radius: 4px;
  transition: .4s;
  outline: solid 3px transparent;
  &:active { outline-color: $shadowColor; }
}
.btn-loading {
  @extend .btn-base;
  cursor: not-allowed;
  outline: none;
}
.btn-primary {
  @extend .btn-base;
  background-color: $mainColor;
  color: white;
  &:active { outline-color: rgba($mainColor, 0.32); }
}
.btn-primary-plain {
  @extend .btn-primary;
  background-color: transparent;
  border: solid 1px $mainColor;
  color: $mainColor;
}

// link
.link-base {
  font-size: 0.8rem;
  cursor: pointer;
}
.link-normal {
  @extend .link-base;
  color: gray;
}
.link-primary {
  @extend .link-base;
  color: $mainColor;
}

.line {
  height: .1rem;
  width: 100%;
  margin: .4rem 0;
  background-color: $shadowColor;
}

// tag
.tag {
  display: flex;
  align-items: center;
  padding: .2rem .6rem;
  margin-right: .8rem;
  margin-top: .4rem;
  background-color: rgb(240, 240, 240);
  border-radius: 16px;
  transition: .2s;
  cursor: pointer;
  &:hover {
    color: $mainColor;
  }
}

// empty message
.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  font-size: 1.2rem;
  margin: 2rem 0;
  cursor: default;
}

// switch
.switch {
  position: relative;
  cursor: pointer;
  width: 2.2rem;
  height: 1rem;
  margin: .6rem 0;
  &:active .round {
    outline: .2rem solid rgba($mainColor, 0.32);
  }
  .sort {
    position: absolute;
    top: .2rem;
    width: 2.2rem;
    height: .8rem;
    background-color: $shadowColor;
    border-radius: 8px;
    transition: .4s;
  }
  .round {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: $mainColor;
    outline: .2rem solid transparent;
    transition: .2s;
  }
}