@import './variable.scss';
@import './animation.scss';

.slide-border {
  border: 2px solid transparent;
  transition: background-color .2s, border-color 1s;
  &:active {
    background-color: $shadowColor;
    border-color: $shadowColor;
  }
}

.rounded-container {
  position: absolute;
  top: 64px;
  right: 0;
  // transform: translate(-50% , 10px);
  width: fit-content;
  height: 400px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 8px 24px $shadowColor;
}

.vertical-enter-active { animation: slide-vertical .2s; }
.vertical-leave-active { animation: slide-vertical .2s reverse; }

.btn-base {
  padding: 4px 16px;
  border-radius: 4px;
  transition: .3s;
  outline: solid 3px transparent;
  &:focus {
    outline: solid 3px $shadowColor;
  }
}
.btn-primary {
  @extend .btn-base;
  background-color: $mainColor;
  color: white;
  &:focus { outline-color: rgba($mainColor, 0.32); }
}
.btn-primary-plain {
  @extend .btn-primary;
  background-color: transparent;
  border: solid 1px $mainColor;
  color: $mainColor;
}